

{% extends "header.html" %} {% block content %}

{% if error_msg %}
<b class="text-red-400">
  {{ error_msg }}
</b>
{% endif %}

<div class="results-container">
  <div class="decoration-container">
    <div class="decoration"></div>
  </div>
  {% for collection in collections %}
  <a href="{{ url_for('collections.collection_view', collection_name=collection.collection_name) }}"
    class="group player-card">
    <h5 class="player-card-content text-center">  {{ collection.collection_name }}
    </h5>
  </a>
  {% endfor %}
</div>

{% endblock %}